.container {
  margin: 1rem;
}
.container h1 {
  margin-bottom: 1rem;
}
.profile_info {
  border-radius: 12px;
  padding: 1rem;
  background-color: var(--secondary-background);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.icon {
  color: var(--highlight-color);
}
.current_booking {
  margin-bottom: 2rem;
}
.current_booking h2 {
  margin-bottom: 1rem;
}
