* {
  font-family: var(--base-font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}
.grid_main_wrapper {
  min-height: calc(100vh - 100px);
  background-color: var(--secondary-accent);
}
.grid_footer {
  height: 100px;
}
button,
.button {
  background-color: var(--highlight-color);
  padding: 0.7rem 2rem;
  color: var(--secondary-title-color);
  border: none;
  width: 100%;
  margin: 0.5rem auto;
}
button:hover,
.button:hover {
  transition: all 0.5s;
  background-color: #aa2339;
}
.secondary_button {
  background-color: var(--secondary-title-color);
  padding: 0.5rem 2rem;
  color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  width: 100%;
}
.secondary_button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-title-color);
}
:root {
  --base-font-family: "Open Sans", sans-serif;
  /* colors */
  --text-color: #404040;
  --title-color: #212529;
  --secondary-title-color: white;
  --highlight-color: #d62e4a;
  --background: white;
  --secondary-background: #f5f5f5;
  --hover-color: rgba(0, 0, 0, 0.05);
  --border-radius: 5px;
  /* shadows */
  --box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-hover: 5px 5px 6px rgba(0, 0, 0, 0.25);
}

/*Here general roles for the font - the size should not change but the color can*/
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--title-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

.vehicle-pic {
  border-radius: 5px;
}
